h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  @apply
    p-0
    mb-4
		leading-tight
		font-display
    font-bold;

    @screen lg {
      @apply mb-6;
    }
}

h1,
.h1 {
  @apply text-4xl;
  
  @screen sm {
    @apply text-5xl;
  }

	@screen lg {
		@apply text-6xl;
	}
}

h2,
.h2 {
	@apply text-3xl mb-5;

	@screen lg {
    @apply text-4xl mb-6;
	}
}

h3,
.h3 {
  @apply text-2xl mb-3 font-normal;

  @screen lg {
    @apply text-3xl mb-4;
  }
}


h4,
.h4 {
  @apply text-2xl mb-3 font-normal;
  
  @screen lg {
    @apply mb-4;
  }
}

h5,
.h5,
h6,
.h6 {
  @apply text-lg mb-3 font-normal;
}


.h-reset {
  font-size: inherit;

  @screen md {
    font-size: inherit;
  }

  @screen xl {
    font-size: inherit;
  }
}
